<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index" class="animate__animated animate__fadeInUp animate__faster">
            <td>{{i + 1}}</td>
            <td><img src="{{pais.flags.png}}" class="small-flag"></td>
            <td>{{pais.name.common}}</td>
            <td *ngIf="pais.capital; else sinCapital">{{pais.capital}}</td>
            <ng-template #sinCapital><td><i style="color: gray">No Definida</i></td></ng-template>
            <td>{{pais.population | number }}</td>
            <td *ngIf="pais.cioc; else otroCodPais"><a [routerLink]="['/pais', pais.cioc]">Detalles</a></td>
            <ng-template #otroCodPais><a [routerLink]="['/pais', pais.cca2]">Detalles</a></ng-template>   
        </tr>
    </tbody>
</table>